{{#each errors}}
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        {{text}}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
{{/each}}
<div class="col-md-4 mx-auto">
    <div class="card">
        <div class="card-header">
            <h3>Login</h3>
        </div>
        <div class="card-body">
            <form action="/nomina" method="POST">
                <div class="form-group">
                    <input type="email" name="user" class="form-control" placeholder="Email" autofocus required>
                </div>
                <div class="form-group">
                    <input type="password" name="password" class="form-control" placeholder="Contraseña" required>
                </div>

                <div class="form-group">
                    <button class="btn btn-primary btn-block" type="submit">Iniciar Sesión</button>
                </div>
            </form>
        </div>
    </div>
</div>