{{#if message}}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        {{message}}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
{{/if}}
<table class="table">
    <thead>
        <th scope="col">Usuario</th>
        {{#each nDays}}
        <th scope="col">{{this}}</th>
        {{/each}}
    </thead>
    <tbody>
        <tr>
            <th scope="row">{{user}}</th>
            {{#each nColumns}}
            <td>{{this}}</td>
            {{/each}}
        </tr>
    </tbody>
</table>
<div class="row">
    <div class="col-3">
        <label  data-toggle="tooltip" data-placement="right" title="Salario: {{salary}}">Total = {{total}}</label>
    </div>
</div>
